* {
  margin: 0;
  padding: 0;
}

:root {
  --mint-green: #bee9e8ff;
  --moonstone: #62b6cbff;
  --indigo-dye: #1b4965ff;
  --columbia-blue: #cae9ffff;
  --picton-blue: #5fa8d3ff;

  background-color: var(--indigo-dye);
  position: fixed;
}

body {
  display: flex;
  flex-direction: row;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.left {
  width: 35vw;
}

.right {
  width: 65vw;
}

.image-container {
  height: 100vh;
  background-image: url("./images/background.jpg"); /* Set the background image */
  background-size: cover; /* Scale the background image to cover the entire container */
  background-position: center; /* Center the background image */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  clip-path: ellipse(47% 80% at 30% 50%);
}

.shadow {
  filter: drop-shadow(2px 0px 10px #000000);
}

.caption {
  width: 50%;
  margin: 0.7em;
  text-align: start;
  color: whitesmoke;
  opacity: 0.7;
  text-transform: uppercase;
  font-size: small;
}

.caption a {
  width: 50%;
  text-decoration: none;
  font-style: oblique;
  color: whitesmoke;
}

.logo-container {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-shadow: -2px -2px var(--indigo-dye);
  font-weight: 500;
  font-size: 3rem;
  font-style: oblique;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.logo {
  width: 3.5rem;
}
